@model IEnumerable<WakeboardUK.Web.Models.Competitor>
@{
    ViewData["Title"] = "Competitors";
}
<div class="row">

    <h1>Competitors</h1>

    <p>
        <a asp-action="Create" class="button">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompetitorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CompetitorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompetitorId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>