@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model WakeboardUK.Web.Models.Competition
@{
    ViewData["Title"] = "Details";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Html.DisplayFor(model => model.Title)
            </h1>

        </div>
    </div>
</section>
<section class="section">
    <div class="container">


        <div class="columns">
            <div class="column is-one-half">

                <a href="http://cdn.wakeboard.co.uk/competitions/photos/@Html.DisplayFor(model => model.CompetitionId)/original/@Html.DisplayFor(model => model.photo_file_name)"
                   class="fancybox hover-box"
                   title="@Html.DisplayFor(model => model.Title)">
                    <img src="http://cdn.wakeboard.co.uk/competitions/photos/@Html.DisplayFor(model => model.CompetitionId)/original/@Html.DisplayFor(model => model.photo_file_name)"
                         alt="alt" />
                </a>

            </div>
            <div class="column is-one-half">
                <div class="subtitle is-4">
                    @Html.DisplayFor(model => model.Description)
                </div>
                <h4>Event Details</h4>
                <dl>
                    <dt>Start</dt>
                    <dd>@Html.DisplayFor(model => model.start_date) </dd>
                    <dt>End</dt>
                    <dd>@Html.DisplayFor(model => model.end_date) </dd>
                    <dt>Entry</dt>
                    <dd>@Html.Raw(@Model.entry)</dd>
                </dl>
                <h4>Location</h4>
                <dl>
                    <dt>Venue</dt>
                    <dd>@Html.Raw(@Model.location)</dd>
                </dl>

                <h4>Event Details</h4>

                <h4>Notes</h4>
                <p>
                    @Html.Raw(@Model.notes)
                </p>
                <h4>Accomodation</h4>
                <p>
                    @Html.Raw(@Model.accommodation)
                </p>
                <p>
                    <a asp-action="Edit" asp-route-id="@Model.CompetitionId">Edit</a> |
                </p>
                <hr />

            </div>
        </div>
    </div>
</section>
