@model WakeboardUK2018.Models.Article

@{
    ViewData["Title"] = "Details";
}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Html.DisplayFor(model => model.Title)
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-half">
                <a href="http://cdn.wakeboard.co.uk/articles/photos/@Html.DisplayFor(model => model.ArticleId)/original/@Html.DisplayFor(model => model.ImageUrl)"
                   class="fancybox hover-box" data-fancybox-group="gallery1" title="@Html.DisplayFor(model => model.Title)">
                    <img alt="@Html.DisplayFor(model => model.Title)"
                         src="http://cdn.wakeboard.co.uk/articles/photos/@Html.DisplayFor(model => model.ArticleId)/original/@Html.DisplayFor(model => model.ImageUrl)" />
                </a>
            </div>
            <div class="column">
                <div class="subtitle is-4">
                    @Html.Raw(Model.Description)
                </div>
                <div class="content">
                    <em class="date">@Html.DisplayFor(model => model.CreateDate)</em>
                    <hr />
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a>
        </p>
    }
</section>