@model IEnumerable<WakeboardUK2018.Models.Article>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                News @if (User.Identity.IsAuthenticated)
                     {
                         <a asp-action="Create">[+]</a>
                     }
            </h1>

        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="columns">
                <div class="column is-one-quarter">
                    <a asp-action="Details" asp-route-id="@item.ArticleId" title="@item.Title" class="hover-box">
                        <img src="http://d21hw29p9qzuua.cloudfront.net/articles/photos/@item.ArticleId/original/@item.ImageUrl" alt="alt"/>
                    </a>
                </div>
                <div class="column">
                    <a asp-action="Details" asp-route-id="@item.ArticleId" title="@item.Title">
                        <h2 class="title is-4">@Html.DisplayFor(modelItem => item.Title)</h2>
                    </a>
                    <div class="content">
                        <p>
                            <em class="date">@Html.DisplayFor(modelItem => item.CreateDate)</em>
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a>
                                -
                                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
                            </p>
                        }
                        @Html.DisplayFor(modelItem => item.Description)
                        <p>
                            <a asp-action="Details" asp-route-id="@item.ArticleId" class="read-more" title="@item.Title">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <hr/>
        }
    </div>
</section>